<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoContext"
         connectionString="Server=ce5d1258-3294-4a86-a4cf-a53b0160f099.sqlserver.sequelizer.com;Database=dbce5d125832944a86a4cfa53b0160f099;User ID=orpzokzkfveyjvur;Password=NtWzemnMmo4wFThyhgdLtqHy5DysStj5CBpK6A6vA6SuEG2BRTXqVkwxSwCGV44Z;" />
  </connectionStrings>
</configuration>